#root {
    position: relative;
    max-width: 800px;
    margin: var(--alxgrn-layout-header-height) auto;
    padding: var(--alxgrn-unit-double);
    background-color: var(--alxgrn-bg-panel);
    border-radius: var(--alxgrn-unit-half);
}

.toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--alxgrn-layout-header-height);
    background-color: var(--alxgrn-bg-main);
    padding: var(--alxgrn-unit-half);
    text-align: center;
}

.toolbar.changed {
    background-color: #fcc;
}

.Form {
    margin: 0 auto;
}